@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FFA20D;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

main {
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

main #number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #FFD100;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size: 28px;
}

main .dice {
    padding: 30px;
}

main img {
    height: 150px;
}

main button#rollerBtn {
    height: 45px;
    width: 56px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.034);
    border-radius: 10px;
    background-color: #E87100;
    color: white;
    font: inherit;
}

.dice-rotate {
    transform: rotateY(360deg);
    transition: all 1s ease;
}